{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Wayfarer</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li style="float:left"><a href="/">Wayfarer</a></li>
                <div class="floated-nav">
                    <li><a onclick="document.getElementById('signup-modal').classList.add('modal-active')">Sign Up</a></li>
                    <li><a href=" {% url 'login' %} ">Log In</a></li>
                    <li><a href="">Log Out</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
        <div class="modal-bg" id="signup-modal">
            <div class="modal">
                <h2>Sign Up</h2>
                <form action="{% url 'home' %}" method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Sign Up">
                    <input type="hidden" name="next" value="{% url 'profile' %}">

                </form>
                <span class="modal-close" onclick="document.getElementById('signup-modal').classList.remove('modal-active')">+</span>
            </div>
            <div class="modal-underlay" onclick="document.getElementById('signup-modal').classList.remove('modal-active')"></div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>