{% extends 'base.html' %}
{% block content %}

    

    <div class="profile-aside">
        <div class="profile-content">
            <div>
                <!-- <h4>Profile</h4> -->
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p>@{{ user.username }}</p>
            </div>
            <div>
                <p><i class="fas fa-map-marker-alt"></i>{{ city }}</p>
                <p><i class="far fa-calendar-alt"></i>Joined {{ user.date_joined|date:"F Y" }}</p>
            </div>
            <div>
                <a id="edit-profile-button">Edit Profile</a>
                <a id="create-post-button">+</a>
            </div>
        </div>
    </div>

    <!-- TEMPORARY POST TITLE LIST ; UPDATE AFTER POST MODEL MIGRATION -->
    <div class="profile-body">
      <div class="user-articles">
        <h1>Posts By {{ users.first_name }}</h1>

        {% for post in post %}

          <p>June 2020 - <a href="/posts/{{post.post_id}}">{{post.title}}</a></p>

        {% endfor %}

        <div>
    </div>


    <div class="modal-bg" id="edit-profile">
        <div class="modal">
            <div class="modal-header">
                <h2>Update Profile</h2>
            </div>
            <form action="{% url 'user_edit' %}" method="POST">

                {% csrf_token %}
                

                <p><label for="first_name">First Name</label></p>
                <input type="text" name="first_name" value="{{ user.first_name }}">
                <p><label for="last_name">Last Name</label></p>
                <input type="text" name="last_name" value="{{ user.last_name }}">
                <p><label for="username">Username</label></p>
                <input type="text" name="username" value="{{ user.username }}">
                <p><label for="email">Email</label></p>
                <input type="email" name="email" value="{{ user.email }}">
                <p><label for="city">Current City</label></p>
                <input type="text" name="city" value="{{ city }}">

                <!-- <a class="signup-login">Already have an account? Log In</a> -->
                <input type="submit" value="Update">
            </form>
            <span class="modal-close" id="edit-profile-close">+</span>
        </div>
        <div class="modal-underlay" id="edit-profile-underlay"></div>
    </div>


    <!-- Create new post modal -- MIGRATE TO CITIES INDEX -->
    <div class="modal-bg" id="create-post">
      <div class="modal">
          <div class="modal-header">
              <h2>Create Post</h2>
          </div>
          <form action="{% url 'add_post' %}" method="POST">

              {% csrf_token %}
              {{ post_form.as_p }}
              <input type="hidden" name="date" value="{% now 'jS m d Y' %}">
              <input id="add-post-button" type="submit" value="Add Post"> 

          </form>
          <span class="modal-close" id="create-post-close">+</span>
        </div>
        <div class="modal-underlay" id="create-post-underlay"></div>
    </div>
          

    <p>{{users.name}}</p>


{% endblock %}