{% extends 'base.html' %}
{% block content %}

    
    <!-- {% for user in users %} -->
    <div class="profile-aside">
        <div class="profile-content">
            <div>
                <!-- <h4>Profile</h4> -->
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p>@{{ user.username }}</p>
            </div>
            <div>
                <p><i class="fas fa-map-marker-alt"></i>{{ user.city }}</p>
                <p><i class="far fa-calendar-alt"></i>Joined {{ user.joined_date }}</p>
            </div>
            <div>
                <a id="edit-profile-button">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="modal-bg" id="edit-profile">
        <div class="modal">
            <div class="modal-header">
                <h2>Sign Up</h2>
            </div>
            <form action="{% url 'home' %}" method="POST">

                {% csrf_token %}
                {% for field in form %}
                        <p>{{ field.label }}</p>
                        {{ field }}
                {% endfor %}

                <!-- <a class="signup-login">Already have an account? Log In</a> -->
                <input type="submit" value="Sign Up">
            </form>
            <span class="modal-close" id="edit-profile-close">+</span>
        </div>
        <div class="modal-underlay" id="edit-profile-underlay"></div>
    </div>
<!-- {% endfor %} -->

    <p>{{user.name}}</p>


{% endblock %}