{% extends 'base.html' %}
{% block content %}

    

    <div class="profile-aside">
        <div class="profile-content">
            <div>
                <!-- <h4>Profile</h4> -->
                <h3>{{ users.first_name }} {{ users.last_name }}</h3>
                <p>@{{ users.username }}</p>
            </div>
            <div>
                <p><i class="fas fa-map-marker-alt"></i>{{ users.city }}</p>
                <p><i class="far fa-calendar-alt"></i>Joined {{ users.date_joined }}</p>
            </div>
            <div>
                <a href="">Edit Profile</a>
            </div>
        </div>
    </div>

    <p>{{users.name}}</p>


{% endblock %}