:root {
    /* colors */
    --light: #FFFFFF;
    --light-alt: #F1F1F1;
    --dark: #2C2C2C;
    --accent: #D92027;

    /* fonts */
    --general-font: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--general-font);
    background-color: var(--light-alt);
}

main {
    margin-top: 75px;
    height: 100vh;
}





/* SECTION base styling */
header {
    background-color: var(--light);
    box-shadow: 0 2.5px 20px rgba(0,0,0,0.1);
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--light);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 20px;
    overflow: hidden;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: var(--dark);
    text-decoration: none;
    font-family: var(--general-font);
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    padding: 5px 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

nav a:hover {
    color: var(--accent);
}

#signup-modal-button {
    border: solid 1px rgba(0,0,0,0.5);
    border-radius: 25px;
}

#signup-modal-button:hover {
    color: var(--dark);
    background-color: rgba(0,0,0,0.05);
}

.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: var(--light);
    width: 30vw;
    height: 30vh;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.modal-close {
    position: absolute;
    top: 2.5px;
    right: 15px;
    font-size: 1.75em;
    font-weight: 700;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-underlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}