:root {
    /* colors */
    --light: #FFFFFF;
    --light-alt: #F1F1F1;
    --dark: #2C2C2C;
    --accent: #D92027;

    /* fonts */
    --general-font: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--general-font);
    background-color: var(--light-alt);
}





/* SECTION base styling */
header {
    background-color: var(--light);
    box-shadow: 0 2.5px 20px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 20px;
    overflow: hidden;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: var(--dark);
    text-decoration: none;
    font-family: var(--general-font);
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.floated-nav:hover > li > a {
    opacity: 0.5;
}

.floated-nav:hover > li > a:hover {
    opacity: 1;
}

.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--light);
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}