{% extends 'base.html' %}

{% block content %}

    <div class="post-aside">
      <div class="post-details">
        <div>
          <h2>{{post.title}}</h2>
        </div>
        <div>
          <p><i class="fas fa-globe-americas"></i>{{post.city}}</p>
          <p><i class="fas fa-user-edit"></i>{{post.author}}</p>
          <p><i class="far fa-calendar-alt"></i>{{post.post_date}}</p>
        </div>
        <div>
          <a id="edit-post-button">Edit Post</a>
        </div>
      </div>  
    </div>


    <div class="post-box">
      <div class="post-content">
        <article class="post-article">
          <p>"... {{post.content}} ..."</p>
        </article>
      </div>
    </div>


{% endblock %}