{% extends 'base.html' %}
{% block content %}



  <div class="post-container">
    <div class="post-header">
      <h1>{{ post.title }}</h1>
      <p><i class="fas fa-map-marker-alt"></i>{{ post.city }}</p>
      <p>{{ post.author }}</p>
      <!-- <p>{{ post.author.username }}</p> -->
      <p>{{ post.post_date }}</p>
    </div>
    <div class="post-content">
      <div class="post-content__links">
        <a id="edit-post-button">Edit</a>
        <a id="delete-post-button">Delete</a>
      </div>
      <p>{{ post.content }}</p>
    </div>
  </div>

  <div class="modal-bg" id="delete-post">
    <div class="modal-small">
        <div class="modal-header">
          <h2>Delete Post?</h2>
        </div>
        <div class="delete-post-content">
          <p>You are about to delete the post "{{ post.title }}". This cannot be undone, are you sure you would like to proceed?</p>
          <div class="delete-post-content__buttons">
            <a class="delete-post-close">Cancel</a>
            <a href="{% url 'posts_delete' post.id %}" id="delete-post-confirm">Delete</a>
          </div>
        </div>
        <span class="modal-close delete-post-close">+</span>
    </div>
    <div class="modal-underlay" id="delete-post-underlay"></div>
  </div>
  <div class="modal-bg" id="edit-post">
    <div class="modal-wide">
      <div class="modal-header">
        <h2>Edit Post</h2>
      </div>
      <form action="{% url 'posts_edit' post.id %}" method="POST">

        {% csrf_token %}

        <p><label for="title">Title</label></p>
        <input type="text" name="title" value="{{ post.title }}">
        <p><label for="city">City</label></p>
        <!-- <input type="selection" name="city" value="{{ post.city }}">
        <p><label for="content">Content</label></p> -->
        <textarea name="content" rows="7">{{ post.content }}</textarea>
        <input type="hidden" name="date" value="{% now 'jS m d Y' %}">
        <!-- <input type="hidden" value="{{ post_id }}"> -->
        <input type="submit" value="Edit Post"> 

      </form>
      <span class="modal-close" id="edit-post-close">+</span>
    </div>
    <div class="modal-underlay" id="edit-post-underlay"></div>
  </div>

  <div class="footer">
    <div class="footer-content">
    </div>
  </div>



{% endblock %}