{% extends 'base.html' %}
{% block content %}



  {% include '../partials/city_nav.html' %}

  <div class="city-body">
    <div class="city-header">
      <h1>{{ city_id.name }}</h1>
      <p>{{ city_id.country }}</p>
    </div>
    <div class="city-posts">
      <a id="create-post-button">+</a>
      <h2>Posts</h2>

      {% for post in posts %}
        <div class="city-ind-container">
          <a href="{% url 'posts_detail' post.id %}">
            <div class="city-ind-post">
              <h3>{{post.title}}</h3>
              <p>{{post.content}}</p>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>

  <div class="modal-bg" id="create-post">
    <div class="modal">
        <div class="modal-header">
            <h2>Create Post</h2>
        </div>
        <form action="{% url 'city_detail' city_id.id %}" method="POST">

            {% csrf_token %}
            {{ post_form.as_p }}
            <input type="hidden" name="date" value="{% now 'jS m d Y' %}">
            <input id="add-post-button" type="submit" value="Add Post"> 

        </form>
        <span class="modal-close" id="create-post-close">+</span>
    </div>
    <div class="modal-underlay" id="create-post-underlay"></div>
  </div>



{% endblock %}