{% extends 'base.html' %}
{% block content %}




  <div class="profile-body">
      <div class="user-articles">
        <h1>{{ city.name }}</h1>
        <p>{{ city.country }}</p>
        <a id="create-post-button">+</a>
      </div>
  </div>

  <div class="modal-bg" id="create-post">
    <div class="modal">
        <div class="modal-header">
            <h2>Create Post</h2>
        </div>
        <form action="{% url 'add_post' %}" method="POST">

            {% csrf_token %}
            {{ post_form.as_p }}
            <input type="hidden" name="date" value="{% now 'jS m d Y' %}">
            <input id="add-post-button" type="submit" value="Add Post"> 

        </form>
        <span class="modal-close" id="create-post-close">+</span>
      </div>
      <div class="modal-underlay" id="create-post-underlay"></div>
  </div>

{% endblock %}